.footer-console{
    width: 100vw;
    position: fixed;
    bottom: 0;
    height: 80px;
    display: flex;
    background-color: #1B1464;
    align-items: center;
    p{
        color: white;
    }
}